<% if @food.errors.any? %>
<ul>
    <% @food.errors.full_messages.each do |err|%>
    <li> <%=err%></li>
    <%end%>

</ul>
<% end %>

  <%= form_for [@fridge, @food] do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :weight %>
    <%= f.text_area :weight %>

    <%= f.submit %>

  <%end%>
